<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="location-outline" slot="start"></ion-icon>
        Selecciona una sucursal
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Sucursal</ion-label>
        <ion-select [(ngModel)]="sucursalSeleccionada" placeholder="Elige una sucursal">
          <ion-select-option *ngFor="let sucursal of sucursales" [value]="sucursal.id">
            {{ sucursal.nombre }} - {{ sucursal.direccion }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button expand="block" color="primary" (click)="obtenerTurno()" [disabled]="loading || !sucursalSeleccionada">
        <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
        <ion-label *ngIf="!loading">Obtener un Número de Turno</ion-label>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Citas Programadas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        <ion-label>Solicita tu turno en línea antes de llegar a la sucursal.</ion-label>
      </ion-text>

      <!-- Selector de fecha y hora -->
      <ion-item>
        <ion-label position="stacked">Fecha y hora de la cita</ion-label>
        <ion-input type="datetime-local" [(ngModel)]="fechaCita" [min]="fechaMinima" [max]="fechaMaxima"
          placeholder="Selecciona fecha y hora">
        </ion-input>
      </ion-item>

      <ion-button expand="block" color="primary" (click)="solicitarTurnoEnLinea()"
        [disabled]="loading || !sucursalSeleccionada || !fechaCita ">
        <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
        <ion-label *ngIf="!loading">Solicitar Turno en Línea</ion-label>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-icon name="time-outline" slot="start"></ion-icon>
    <ion-label>Tiempo de espera estimado: {{ tiempoEstimado }} min</ion-label>
  </ion-item>
</ion-content>