<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Gestor de Turnos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center" style="min-height: 80vh;">
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">
              Crear Cuenta
            </ion-card-title>
            <ion-card-subtitle class="ion-text-center">
              Completa el formulario para registrarte
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <ion-list>
                <ion-item>
                  <ion-label position="floating">Nombre completo</ion-label>
                  <ion-input type="text" placeholder="Juan Pérez" formControlName="name">
                  </ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Correo electrónico</ion-label>
                  <ion-input type="email" placeholder="correo@ejemplo.com" formControlName="email">
                  </ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Contraseña</ion-label>
                  <ion-input type="password" placeholder="••••••••" formControlName="password">
                  </ion-input>
                </ion-item>
              </ion-list>

              <ion-button expand="block" type="submit" color="primary" class="ion-margin-top">
                <ion-icon slot="start" name="person-add-outline"></ion-icon>
                <ion-label>Registrarse</ion-label>
              </ion-button>

              <ion-text color="medium" class="ion-text-center">
                <ion-label style="display: block;" class="ion-margin-top">
                  ¿Ya tienes cuenta?
                  <ion-router-link routerLink="/auth/login" color="primary">Inicia sesión</ion-router-link>
                </ion-label>
              </ion-text>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>