<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Gestión de Colas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    <ion-item *ngFor="let turno of turnos">
      <ion-label>
        <h2>Turno #{{ turno.id }}</h2>
        <p>Cola actual: {{ turno.cola }}</p>
      </ion-label>
      <ion-select placeholder="Reasignar" interface="popover" (ionChange)="reasignar(turno, $event.detail.value)">
        <ion-select-option *ngFor="let c of colas" [value]="c">{{ c }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

</ion-content>
